- provide_title I18n.t("users.reset_password.title")
.row
  .col-md-4.col-md-offset-4
    = form_for(@user, url: reset_password_url, method: :post) do |f|
      = f.label :password
      = f.password_field :password
      
      = f.label :password_confirmation
      = f.password_field :password_confirmation

      = hidden_field_tag :token, @token

      = f.submit I18n.t("users.reset_password.submit"), class: "btn form-first-btn form-save-btn"
      = link_to( I18n.t("users.reset_password.back"), user_path(@user), class: "btn form-second-btn form-discard-btn") if @user.id
